services:
  mysql:
    image: mysql:8.0
    container_name: vibe-gaming-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - ./.data/db:/data/db
    env_file:
      - .env
